/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 20px;
  text-align: center;
}



.gwt-Label {
	margin-top: 12px;
}

.gwt-TextBox {
  padding: 10px;
  margin: 5px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: small;
}
.sendButton {
  display: block;
  font-size: 16pt;

}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;ß
}
.btn_export{
	
    
    top:2px
 
    border:3px solid #73AD21;
    padding: 10px;
	
}

.rightTop {
    position: absolute;
    right: 10px;
    top:2px
 
    border:3px solid #73AD21;
    padding: 10px;
}

.flowPanel_inline
{
    display:inline;
    margin: 0px 0x 40px;
}
.flowPanel_inline_right
{
	position: relative;
	
    display:inline;
    margin: 0px 0x 40px;
    margin-left:25%;
    margin-right:25%;
   
}
.mapOptionsPanel
{
	border-style: outset ;
    border-width: medium;
    margin: auto;
    
    position: relative;
    
   	
   
   
}
.mapOptionsPanelContent
{
	position: relative;
	margin: auto;
  
}
.upperPanel
{

	margin: auto;
  
}





