<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>movieServlet</servlet-name>
    <servlet-class>com.javabeans.test.server.MovieServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>movieServlet</servlet-name>
    <url-pattern>/testdb/greet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>  
     <servlet-name>ExportCsvServlet</servlet-name>  
     <servlet-class>com.javabeans.test.server.ExportCsvServlet</servlet-class>  
  </servlet>
    
  <servlet-mapping>  
     <servlet-name>ExportCsvServlet</servlet-name>  
     <url-pattern>/exportcsv</url-pattern>  
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TestDB.html</welcome-file>
  </welcome-file-list>

</web-app>
